# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and cache
*.log
.cache/
*.tmp

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node-RED / Node
node_modules/
package-lock.json

# Environment or secret files
.env
